html, body {
  font-size: 1rem;
  line-height: 1.2rem;
  color: #000;
  margin: 0;
  padding: 0;
}
body {
  max-width: 58rem;
  margin: 2rem auto;
}

header {
  background: #ccc;
  padding: 1rem 0 0 0;
}
header h1 {
  color: #fff;
  text-align: center;
  margin: 0;
  padding: 0 0 1rem 0;
  font-size: 3rem;
}

aside {
  display: none;
}

abbr {
  border-bottom: 1px dotted blue;
  text-decoration: none;
  cursor: help;
}
